body {
  margin: 100px;
}

.favoriteSite {
  font-size: 1rem;
  grid-area: favoriteSite;
  margin: 7px 0 0 7px;
  
}
.siteColor {
  color: orange;
}

.favoriteMore {
  padding-right: 8px;
  padding-top: 7px;
  text-align: right;
  text-decoration: none;
  /* height: 20px; */
  /* width: 20px; */
  color: inherit;
  grid-area: favoriteMore;
}
.rank {
  width: 190px;
  background: linear-gradient(to bottom, rgba(204, 204, 204, 1) 10%, rgba(238, 238, 238, 1) 50%);
  border-radius: 5px;
  display: grid;
  padding: 10px;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 30px 1fr;
  gap: 1px;
  
  grid-template-areas:
    "favoriteSite favoriteMore favoriteMore"
    "rank-top rank-top rank-top"
    "rank-top rank-top rank-top";
}
ol {
  padding-left: 28px;
  line-height: 23px;
  margin: 13px 0 13px 0;
}


.rank-top {
  grid-area: rank-top;
  
}

.ranker {
 
 
  }
  .ranker {
    counter-increment: number;

  }

.rankSite::before {
   content: attr(number);
   
   
}


.sprite {
  margin-top: 4px;
  margin-right: 8px;
  position: absolute;
  right: 0;
  background: url(rank.png) no-repeat;
  width: 9px;
  height: 15px;
  right: 0;
  z-index: -1;
}

.rankerFirst {
  background-position: 0 0;

}
.rangkerSecond {

  background-position: 0 -20px;
}

.rangkerThird {

  background-position: 0 -45px;
}

.rangkerFourth {

  background-position: 0 0px;
}